# Pandas Practice Notebook
Dear Students this notebook will help you practice Important Pandas operations step-by-step.

## 1. File Import using Pandas
Below are some examples to import files in Pandas and practice questions.

In [ ]:
# Example: Importing CSV, Excel, and JSON files
import pandas as pd

# Read CSV
df_csv = pd.read_csv('data.csv')

# Read Excel
df_excel = pd.read_excel('data.xlsx')

# Read JSON
df_json = pd.read_json('data.json')

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

### Practice Questions
1. Import the file `sales.csv` and display the first 5 rows.
2. Import the Excel file `students.xlsx` and check its columns.
3. Import any JSON file and find its shape.

In [28]:
# Answer here
import pandas as pd

df = pd.read_csv('Sales.csv')
df = df_csv.head()
print(df)


df = pd.read_excel('Data.xlsx')
print(df.columns)


df = pd.read_json('Student.json')
print(df.shape)

  StudentID       Name       City  Age  Score  JoinedDate  IsActive
0      S001  Student_1       Pune   26  58.55  2024-01-01      True
1      S002  Student_2    Kolkata   22  76.41  2024-01-02     False
2      S003  Student_3    Kolkata   18  92.66  2024-01-03     False
3      S004  Student_4  Bengaluru   22  58.34  2024-01-04     False
4      S005  Student_5      Delhi   29  81.87  2024-01-05      True
Index(['StudentID', 'Name', 'City', 'Age', 'Score', 'JoinedDate', 'IsActive',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')
(100, 7)

## 2. File Export using Pandas
You can export data to different formats like CSV, Excel, and JSON.

In [ ]:
# Example: Exporting DataFrame to different formats
df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False)
df.to_json('output.json')

### Practice Questions
1. Export any given DataFrame to CSV format without index.
2. Export the same DataFrame to Excel with the name 'Sheet1'.
3. Export to JSON format with indentation.

In [35]:
# Answer here
df.to_csv('Sales.csv', index=False)
df.to_excel('Data.xlsx', sheet_name ='Sheet1',index = False)
df.to_json('Student.json',indent=4)

## 3. Creating Series and DataFrames

In [ ]:
# Example: Creating Series and DataFrame
series = pd.Series([10, 20, 30], name='Sales')
data = {'Name': ['Amit', 'Riya', 'John'], 'Age': [22, 24, 26]}
df = pd.DataFrame(data)
print(series)
print(df)

### Practice Questions
1. Create a Series of 5 numbers named 'Marks'.
2. Create a DataFrame of 3 students with columns 'Name', 'Score', 'City'.
3. Print shape, head, and describe of your DataFrame.

In [30]:
# Answer here
series = pd.Series([10, 20, 30,50,55], name='Marks')
data = {'Name': ['Amit', 'Riya', 'John'], 'Score': [80, 90, 99],'City':['Kanpur','Delhi',"Meerut"]}
df = pd.DataFrame(data)
print(series)
print(df)

0    10
1    20
2    30
3    50
4    55
Name: Marks, dtype: int64
   Name  Score    City
0  Amit     80  Kanpur
1  Riya     90   Delhi
2  John     99  Meerut

## 4. Indexing and Slicing in Pandas

In [ ]:
# Example: Indexing and Slicing
df['Name']
df[['Name', 'Age']]
df.iloc[0:2]
df.loc[df['Age'] > 22]

### Practice Questions
1. Select only the 'Score' column from your DataFrame.
2. Retrieve rows from index 1 to 3.
3. Filter rows where 'Age' > 23.

In [37]:
# Answer here
print(df["Score"])

print(df.loc[1:3])

print(df[df["Age"] > 23])

0    80
1    90
2    99
Name: Score, dtype: int64
   Name  Score    City
1  Riya     90   Delhi
2  John     99  Meerut

## 5. Merging and Concatenation

In [ ]:
# Example: Merge and Concat
df1 = pd.DataFrame({'ID': [1,2], 'Name': ['A', 'B']})
df2 = pd.DataFrame({'ID': [1,2], 'Score': [85, 90]})
merged = pd.merge(df1, df2, on='ID')
print(merged)

# Concat
df3 = pd.concat([df1, df2], axis=0, ignore_index=True)

### Practice Questions
1. Merge two DataFrames 'students' and 'marks' on 'ID'.
2. Perform left join between two given DataFrames.
3. Concatenate two DataFrames vertically and reset the index.

In [41]:
# Answer here
df1 = pd.DataFrame({'ID': [1,2,3], 'Name': ['Aman', 'Bikash','Yuvraj']})
df2 = pd.DataFrame({'ID': [1,2,3], 'Score': [85, 90,89]})
merged = pd.merge(df1, df2, on='ID')
print(merged)


result = pd.merge(df1, df2, on='ID', how='left')
print(result)

df3 = pd.concat([df1, df2], axis=0, ignore_index=True)
print(df3)

   ID    Name  Score
0   1    Aman     85
1   2  Bikash     90
2   3  Yuvraj     89
   ID    Name  Score
0   1    Aman     85
1   2  Bikash     90
2   3  Yuvraj     89
   ID    Name  Score
0   1    Aman    NaN
1   2  Bikash    NaN
2   3  Yuvraj    NaN
3   1     NaN   85.0
4   2     NaN   90.0
5   3     NaN   89.0

## 6. Pivot Tables and GroupBy

In [ ]:
# Example: Pivot and GroupBy
df = pd.DataFrame({'Region': ['North', 'South', 'North'], 'Month': ['Jan', 'Jan', 'Feb'], 'Sales': [250, 300, 400]})

pivot = df.pivot_table(values='Sales', index='Region', columns='Month', aggfunc='sum', fill_value=0)
grouped = df.groupby('Region')['Sales'].sum()
print(pivot)
print(grouped)

### Practice Questions
1. Group the DataFrame by 'Month' and find total sales.
2. Create a pivot table to show Region-wise total sales.
3. Group data by 'Region' and count number of entries.

In [43]:
# Answer here
df = pd.DataFrame({'Region': ['North', 'South', 'North'], 'Month': ['Jan', 'Jan', 'Feb'], 'Sales': [250, 300, 400]})

pivot = df.pivot_table(values='Sales', index='Region', columns='Month', aggfunc='sum', fill_value=0)

grouped = df.groupby('Month')['Sales'].sum()

region_count = df.groupby('Region').size()


print(grouped)
print(pivot)
print(region_count)

Month
Feb    400
Jan    550
Name: Sales, dtype: int64
Month   Feb  Jan
Region
North   400  250
South     0  300
Region
North    2
South    1
dtype: int64

## Optional Practice (Medium Level)
These questions test your overall understanding of Pandas.

1. Import a dataset and clean all missing values, rename columns properly, and export it back to Excel.

Dataset- https://drive.google.com/file/d/1kw_Sdib3WCo_acQYA851poCUdKcWgfYs/view?usp=sharing

In [ ]:
# Answer here

2. Combine multiple CSV files from a folder into one DataFrame and find top 5 entries by a numeric column like 'Sales'.

Dataset- https://drive.google.com/drive/folders/1zgJs_6r8Aa_-93YXmYXfxOK5L4hVUI9Q?usp=sharing

In [ ]:
# Answer here